.filter-or-flight-container {
  width: 80%;
  margin: 0 auto;
}

.filter-container {
  width: 22%;
  height: 70vh;
  /* border: 1px solid gray; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.flight-container {
  width: 75%;
  flex-direction: column;
}

.sorting-contents {
  /* border: 1px solid gray; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: gray;
  border-radius: 2px;
}

.sorting-contents .list-items {
  margin: 0;
  padding: 0.5rem;
  cursor: pointer;
}

.flight-card-container {
  width: 100%;
  /* height: 10vh; */
  padding: 2rem 0.5rem;
  /* border: 1px solid gray; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.flight-card-container .list-items {
  margin: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.list-items .list-link {
  text-decoration: none;
  display: flex;
  text-align: center;
}

.list-link .btn {
  background: rgb(1, 1, 65);
  border-radius: 10px;
  color: #fff;
  padding: 8px 20px;
}

@media screen and (max-width: 1000px) {
  .filter-or-flight-container {
    width: 90%;
  }

  .filter-container {
    width: 25%;
  }

  .flight-container {
    width: 100%;
  }

  .flight-card-container {
    padding: 1rem ;
  }

  .flight-card-container .list-items {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem;
  }

  .list-items .list-link {
    justify-content: center;
    flex-direction: column;
    /* border-right: 0.5px solid gray; */
  }

  .list-link img {
    width: 40px;
    height: 40px;
  }
}
