.footer_section {
    background: #d4dde8;
    /* height: 50vh; */
    /* position: relative;
    bottom: 0;
    left: 0;
    right: 0; */
}

.footer-container {
    width: 80%;
    margin: 0rem auto;
    padding: 3rem 0;
    flex-direction: column;

}

.upper-content-container {
    flex-direction: row;
    width: 100%;
}

.footer-link {
    flex-direction: column;
}

.list-items li {
    color: #000;
    /* font-weight: 500; */
}

.list-items li:hover {
    color: #000;
    text-decoration: underline;
}

.copyright-content {
    text-align: center;
    font-size: 0.9rem;
}

@media screen and (max-width:1000px) {
    /* .upper-content-container {
        grid-template-columns: repeat(1, 1fr);
    } */
}