.trip-section-container {
    height: max-content;
}

.trip-container {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.myTrip-content-container table{
    width: 100%;
}

.myTrip-content-container table , th, td {
    border: 0.5px solid rgba(128, 128, 128, 0.498);
    padding: 1rem;
}
